.navbar{
   width: 30%;
    height: 20px !important;
    justify-content: space-between;
    align-self: flex-start !important;

    color: white;
}
.container{
    width: 100%;
    justify-content: space-between;
    color: white;
}
.navbar a:hover{
    color: rgba(0, 132, 255, 0.719) !important;
}
 @media (max-width: 500px) {
.navbar{
    display:none !important;
}
.container{
    justify-content: space-between;

        width: 409px !important;
        transform: translateX(-8%) !important;
}
.moreVertIcon{
    align-self: center !important;

}
}